providers = ["php", "node"]

[variables]
NIXPACKS_PHP_VERSION = "8.4"
NIXPACKS_NODE_VERSION = "22"
NODE_ENV = "production"
# Se a pasta pública não for "public", mude aqui:
# NIXPACKS_PHP_ROOT_DIR = "public"

[phases.setup]
nixpkgsArchive = "51ad838b03a05b1de6f9f2a0fffecee64a9788ee"

nixPkgs = [
  "...",
  "nodejs_22",
  "npm",
  "bash",
]

[phases.install]
cmds = [
  "composer install --no-dev --prefer-dist --optimize-autoloader",
  "npm ci",
]

[phases.build]
cmds = [
  "npm run build",
  # Laravel (opcional):
  # "php artisan config:cache",
  # "php artisan route:cache",
  # "php artisan view:cache",
]

# NÃO defina [start] aqui se quer o padrão do provider PHP (nginx + php-fpm)




# [phases.setup]
# nixPkgs = ["php84Packages.composer", "nodejs_22"]
# 
# 
# cmds = [
#   "composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader",
#   "npm install",
#   "npm ci",
#   "npm run build"
# ]

