[phases.setup]
nixPkgs = ["php84Packages.composer", "nodejs_22"]


cmds = [
  "composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader",
  "npm install",
  "npm ci",
  "npm run build"
]

